
* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
  }
  .toppage {
    height: 100vh;
    background-image: url("https://bit.ly/2rN3jm8");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%}

  .navbar {
    font-size: 25px !important;
    background-color: goldenrod !important;
    z-index:100;
  }
  .navbar-brand {
    font-size: 30px;
    color: black;
  }
