* {
  padding: 2px;
  margin: 0;
  box-sizing: border-box;
}
.toppage {
  height: 100vh;
  background-image: url(https://bit.ly/38HRNsK);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.navbar {
  font-size: 25px !important;
  background-color:peru !important;
  z-index: 100;
}
.navbar-brand {
  font-size: 30px;
  color: black;
}
.landingtext {
  left: 0;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.landingtext > h1 {
  font-size: 5vw;
  font-weight: bold;
}
.mycard {
  font-size: 18px;
  padding: 15px 15px;
  background-color: whitesmoke;
}
.mybtn {
  padding: 20px 20px;
  background-color: peru;
  text-decoration: black;
}
.myform {
  padding: 16px 20px;
  background-color: peru;
  text-decoration-color: black;
}

footer {
  background-color:peru;
  height: 10vh;
  font-size: 1vw;
  font-weight: bold;
}
/* Small devices (landscape phones, 576px and down) */

@media (max-width: 576px) {
  .landingtext > h1 {
    font-size: 5vw;
  }
  footer {
    height: 5vh;
    font-size: 5vw;
  }
}
